extends layout

block content
  .content
    .card
      .item.item-divider Share URL or Code
      .item.item-text-wrap
        .item.item-input-inset
          label.item-input-wrapper
            input#copyCode(style="width: 100%;padding-left: 0px;padding-top: 1px;" type="text", value=domain_url+"/join/"+code)
          button#copyBtn.button.button-small.button-positive Copy
    .card
      .item.item-divider Players in the room 1 of #{num_players}
      .item.item-text-wrap
        ul#players.list
    .list.list-inset
      a.button.button-full.button-positive(href=domain_url+"/game/"+code) Start Game

  script.
    $( "#copyBtn" ).on( "click", function() {
      $('#copyCode').select();
      document.execCommand('copy'); // or 'cut'
    });
  script.
    var socket = io.connect(window.location.host);
    //socket.emit('onServer', { url: window.location.href });
    // If I use ajax with jquery it looks better, every 500ms update
    socket.emit('joinPlayer',{gameCode: "#{code}" , playerID : '#{player.id}'});
    socket.on('joinPlayer-#{code}', function (data) {
      console.log(data);
      $('#players').empty();
      for(var i=0; i<data.players.length;i++){
        $('#players').append('<li class="item">'+data.players[i].nickname+'</li>')
      }
    });
