extends layout

block content
  #joinGame.content
    .card
      .item.item-divider Share URL or Code
      .item.item-text-wrap
        .item.item-input-inset
          label.item-input-wrapper
            input#copyCode(style="width: 100%;padding-left: 0px;padding-top: 1px;" type="text", value=domain_url+"/join/"+code)
          button#copyBtn.button.button-small.button-positive Copy
    .card
      .item.item-divider Players in the room 1 of #{num_players}
      .item.item-text-wrap
        ul#players.list
  #game.content(style="display: none;")
    //- a( href=domain_url+"/game/"+code+"/#{player.id}")=player.nickname
    .clearfix
      .content-hex
        .top
          a.hexagon(href=domain_url+"/game/"+code+"/1" style='background: #{colors[1]}')
          a.hexagon(href=domain_url+"/game/"+code+"/2" style='background: #{colors[2]}')
        .bottom
          a.hexagon(href=domain_url+"/game/"+code+"/3" style='background: #{colors[3]}')
          a.hexagon(href=domain_url+"/game/"+code+"/4" style='background: #{colors[4]}')
          a.hexagon(href=domain_url+"/game/"+code+"/5" style='background: #{colors[5]}')
        .top
          a.hexagon(href=domain_url+"/game/"+code+"/6" style='background: #{colors[6]}')
          a.hexagon(href=domain_url+"/game/"+code+"/7" style='background: #{colors[7]}')
    .card
      pre#gameInfo
  //- balanced
  #bar.bar.bar-footer.bar-dark(style="display: none;")
    .title Recuerda los colores

  script.
    $( "#copyBtn" ).on( "click", function() {
      $('#copyCode').select();
      document.execCommand('copy'); // or 'cut'
    });
  script.
    var socket = io.connect(window.location.host);
                // red    // green  // yellow // blue   // pulpure // aqua  // gray   //  black
    var colors = ['#ff5454','#54ff54','#ffff54','#5454ff','#ff54ff','#54ffff','#686868','#000000'];

    socket.emit('joinPlayer',{gameCode: "#{code}" , playerID : '#{player.id}'});
    socket.on('joinPlayer', function (data) {
      $('#players').empty();
      for(var i=0; i<data.players.length;i++){
        $('#players').append('<li class="item">'+data.players[i].nickname+'</li>')
      }
    });
    socket.on('gotoGame',function(data){
      // window.location = "/game/"+data.game.code;
      $('#gameInfo').text(JSON.stringify(data.game,1,' '));
      $('#joinGame').hide();
      $('#game').show();
      $('#bar').show();
    });

    socket.on('background',function(data){
      $('body').css("background-color",colors[data.colorNum]);
    });
    socket.on('showBtn',function(data){
      $('body').css("background-color","#FFF");
    });

    socket.on('youTrun',function(data){
      console.log(data.value);
      $('#bar').removeClass( (data.value && 'bar-dark') || 'bar-balanced')
               .addClass( (data.value && 'bar-balanced') || 'bar-dark');
      $('#bar .title').text( (data.value && 'Tu Turno') || 'Otro jugador' );
    });
